#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.o
*.a
*.la
*.lo
*.so
*.dll
configure
.deps/
.libs/
*.typelib
*.gir
/api/*-tmp.h
/api/*.deps
/api/geany-*.vapi
/api/geany-scintilla-1.0.vapi
/plugins/*.plugin
/lib/peasy.h
/lib/*.vapi
/lib/*.c
!/*_c.c

#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------
/aclocal.m4
/autom4te.cache
/autoconf.mk
/build-aux/
/build-stamp
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/m4/lt*.m4
/m4/intltool.m4
/m4/libtool.m4
/stamp-h
/stamp-h1
/stamp-h.in
/libtool

#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/*.gmo
/po/*.header
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/Makevars
/po/*.mo
/po/*.pot
/po/POTFILES
/po/POTFILES.ignore
/po/POTFILES.in.missing
/po/POTFILES.in.noi18n
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/stamp-it
/po/.intlcache
/po/Makefile
/po/Makefile.in
