*.o
*.lo
*.a
*.la
*.deps
*.libs

/aclocal.m4
/autoconf.mk
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/m4/*.m4
/Makefile

/a/y/x
/a/y/y
/a/y/1/one
/c/c
/c/cxx
/c/cxxcc
/c/candcxx
/c/csh
/c/clc
/c/clangc
/e/e
/e/esh
/g/g
/g/g.c
/g/g1
/g/g1.c
/t/t1
/t/t2
/h/h1
/h/h2
/h/h2.h
/1
/m/2/tool
