#!/usr/bin/make -f

include /usr/share/dpkg/default.mk
include /usr/share/python/python.mk

PYVER=$(firstword $(shell py3versions --supported -v))
PYTHON=python$(PYVER)
OVERRIDESDIR=$(call py_libdir,$(PYVER))/gi/overrides

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=autoreconf --parallel

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- PYTHON=$(PYTHON) --with-pyoverridesdir=$(OVERRIDESDIR)
	sed -i -r 's,^sys_lib_dlsearch_path_spec="(.*)$$,sys_lib_dlsearch_path_spec="/usr/lib /lib \1,' $(CURDIR)/libtool

override_dh_auto_install:
	dh_auto_install
	-rm -f $(CURDIR)/debian/tmp/usr/lib/libpeasy*.la

override_dh_install:
	dh_install --list-missing

override_dh_python3:
	dh_python3
